<DOCTYPE! HTML>
<html>
<head>
	<script type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/dashboard.scss"></link>
	<link rel="stylesheet" href="../../assets/stylesheets/bootstrap_and_overrides.css.less"></link>
	<link rel="icon" type="image/png"></link>
</head>

<body>
<div id="container">
	<div class="header">
		<h1>PleaseSubscribe.me</h1>
	</div>

	<div class="subscriptions">
		<div class="row">

			<!--Tabs Nav-->
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab1" data-toggle="tab">Dashboard</a></li>
				<li><a href="#tab2" data-toggle="tab">Video</a></li>
				<li><a href="#tab3" data-toggle="tab">Music</a></li>
				<li><a href="#tab4" data-toggle="tab">Game</a></li>
				<li><a href="#tab5" data-toggle="tab">Game</a></li>
				<li><a href="#tab6" data-toggle="tab">Other</a></li>
			</ul>
		
			<!-- Tab sections-->
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<h3>Video Services</h3>
					<table id="video" class="table table-striped">
						<tr>
							<td>Amazon Prime Instant Video</td>
						</tr>
						<tr>
							<td>Hulu Plus</td>
						</tr>
						<tr>
							<td>Netflix</td>
						</tr>
					</table>
					<h3>Music Services</h3>
					<table id="music" class="table table-striped">
						<tr>
							<td>Google Play Music</td>
						</tr>
						<tr>
							<td>Spotify</td>
						</tr>
					</table>
					<h3>E-book Services</h3>
					<table id="ebook" class="table table-striped">
						<tr>
							<td>Kindle Unlimited</td>
						</tr>
					</table>
					<h3>Game Services</h3>
					<table id="game" class="table table-striped">
						<tr>
							<td>Playstation Plus</td>
						</tr>
					</table>
					<h3>Other Services</h3>
					<table id="other" class="table table-striped">
						<tr>
							<td>LootCrate</td>
						</tr>
					</table>
				</div>

				<div class="tab-pane" id="tab2">
					<h3>My Video Services</h3>
					<table id="myVideoServices" class="table table-striped">
						<tr>
							<td>Amazon Prime Instant Video</td>
						</tr>
						<tr>
							<td>Hulu Plus</td>
						</tr>
						<tr>
							<td>Netflix</td>
						</tr>
					</table>
					<h3>More Video Services</h3>
					<table id="moreVideoServices" class="table table-striped">
						<tr>
							<td>CBS All Access</td>
						</tr>
						<tr>
							<td>Crunchyroll</td>
						</tr>
						<tr>
							<td>FUNimation</td>
						</tr>
					</table>
				</div>

				<div class="tab-pane" id="tab3">
					<h3>My Music Services</h3>
					<table id="myMusicServices" class="table table-striped">
						<tr>
							<td>Google Play Music</td>
						</tr>
						<tr>
							<td>Spotify</td>
						</tr>
					</table>
					<h3>More Music Services</h3>
					<table id="moreMusicServices" class="table table-striped">
						<tr>
							<td>Beats Music</td>
						</tr>
						<tr>
							<td>Pandora</td>
						</tr>
						<tr>
							<td>Rdio</td>
						</tr>
						<tr>
							<td>Rhapsody</td>
						</tr>
						<tr>
							<td>Sony Music Unlimited</td>
						</tr>
						<tr>
							<td>Xbox Music</td>
						</tr>			
					</table>
				</div>

				<div class="tab-pane" id="tab4">
					<h3>My Game Services</h3>
					<table id="myGameServices" class="table table-striped">
						<tr>
							<td>PlayStation Plus</td>
						</tr>
					</table>
					<h3>More Game Services</h3>
					<table id="moreGameServices" class="table table-striped">
						<tr>
							<td>OnLive</td>
						</tr>
						<tr>
							<td>PlayStation Now</td>
						</tr>
						<tr>
							<td>Xbox Live</td>
						</tr>		
					</table>
				</div>
				<div class="tab-pane" id="tab5">
					<h3>My E-book Services</h3>
					<table id="myEbookServices" class="table table-striped">
						<tr>
							<td>Kindle Unlimited</td>
						</tr>
					</table>
					<h3>More E-Book Services</h3>
					<table id="moreEbookServices" class="table table-striped">
						<tr>
							<td>Oyster</td>
						</tr>
						<tr>
							<td>Scribd</td>
						</tr>
					</table>
				</div>
				<div class="tab-pane" id="tab6">
					<h3>My Other Subscriptions</h3>
					<table id="myGameServices" class="table table-striped">
						<tr>
							<td>LootCrate</td>
						</tr>
					</table>
					<h3>More Miscellaneous Subscriptions</h3>
					<table id="moreGameServices" class="table table-striped">
						<tr>
							<td>Patreon</td>
						</tr>		
					</table>
				</div>
			</div>

		</div>
	</div>

</div>

</body>
</html>