<doctype html>

<head>
<script type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href=""></link>
<link rel="icon" type="image/png"></link>
</head>

<body>

<div class="containter">
	<div class="header">
		<h1>PleaseSubscribe.me</h1>
	</div>
	<div class="row">
		<div class="dash">
			<h3>Dashboard</h3>
			<p>Video netflix amazon hulu</p>
			<p>Music spotify amazon pandora</p>
		</div>
		<div class="profile">
			<h3>Profile</h3>
			<p>Video netflix amazon hulu</p>
			<p>Music spotify amazon pandora</p>
		</div>
	</div>
</div>

</body>
</html>